/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos base */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/f2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Texto general */
p {
    text-align: center;
}

/* Contenedor principal */
.contenedor {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.contenedor p {
    text-align: center;
}

/* Imágenes */
img {
    justify-content: center;
}

/* Campos del formulario */
.campo {
    margin-bottom: 15px;
    text-align: left;
}

.campo label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

.campo input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Botón */
button {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #4eacff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003caa;
}

button:focus,
input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}

/* Enlaces */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
